<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithWebpacker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'react-select', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'transitions_styles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'transportation_styles', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'font-awesome/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>    
    <link href="https://fonts.googleapis.com/css?family=BioRhyme|Libre+Franklin:700i|Nunito+Sans" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'webpack-bundle' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCn-htcBCbG-7-a5NLKCY8ElUV7WGziTlU&libraries=places"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
